# Server
PORT=8080

# MongoDB
# Local: mongodb://localhost:27017/ludo
# Atlas: mongodb+srv://username:password@cluster.mongodb.net/ludo?retryWrites=true&w=majority
CONNECTION_URI=mongodb://localhost:27017/ludo

# JWT
JWT_SECRET=change_this_to_a_random_long_string

# Environment
NODE_ENV=development
